<div class="col-md-4">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <form method="POST" action="#/autentica">
        {{msg}}
        <fieldset>
          <div class="form-group">
            <input class="form-control" placeholder="cpf" name="cpf">
          </div>
          <input type="submit" value="Login" class="btn btn-sm btn-success">
        </fieldset>
      </form>
    </div>
  </div>
</div>
