<form id="frmTransferencia" method="POST" action="#/transferencia">
					<div class="form-group">
						<label>Nº Conta do Concedente:</label>
						<div class="controls">
							<input name="nrocontaconcedente" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label>Senha do Concedente:</label>
						<div class="controls">
							<input name="senhaconcedente" type="password" />
						</div>
					</div>
					<div class="form-group">
						<label>Valor:</label>
						<div class="controls">
							<input name="valor" type="text" />
						</div>
					</div>
					<div class="form-group">
						<label>Nº Conta do Beneficiado:</label>
						<div class="controls">
							<input name="nrocontabeneficiado" type="text" />
						</div>
					</div>
					<div class="form-group">
						<div class="controls">
							<input type="submit" value="Enviar" class="btn btn-primary">
						</div>
					</div>
				</form>
