body {
	margin: 0px;
    padding: 0px;
    background: #f9f9f9;
    color: #333;
}

section {padding-top:30px;}

ul {
	margin: 0 0 10px 0;
}

footer {
  height: 150px;
  margin-top:40px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#eeeeee;
}

h1,h2,h3,h4,h6 {
	font-weight:300;
}

h1 {
	font-weight:300;
	font-size:50px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

.center {
	float:none;
	margin:0 auto;
}

#about .thumbnail {
	text-align:center;
	border:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
}

#intro {
	text-align:center;
	padding:30px 0px 60px;
	background-color:#000;
}

#intro h1 {
	color:#fff;
}

#intro p {
	padding:15px 0;
	color:#fff;
}

.btn-xlarge {
	padding:20px 40px;
	font-size:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.content {
    min-width: 400px;
    min-height: 300px;
    position: relative;
    background: #fff;
    margin-left: 200px;
    margin-bottom: 20px;
    border-left: 1px solid #cfcfd6;
    border-bottom: 1px solid #cfcfd6;
}

#sidebar-nav {
    position: absolute;
    width: 200px;
    float: left;
    margin: 0em;
    padding-top: 0.2em;
}

#sidebar-nav .nav-list {
    padding: 0px;
}

#sidebar-nav .nav-list li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
}

#sidebar-nav .nav-list li.active {
    background: #f3f3f5;
    border-right: 0px;
    border-top: 1px solid #cfcfd6;
    border-bottom: 1px solid #cfcfd6;
}

#sidebar-nav .nav-list li a,
#sidebar-nav .nav-list li a:hover {
    color: #585868;
    text-shadow: 1px 1px 0px #fff;
    padding: .5em 2em;
    border: 0px;
    margin: 0px 1px;
    background: none;
}

#sidebar-nav .nav-list li.active a {
    border: 0px;
}
#sidebar-nav .nav-list li:hover {
    background: #e8e8eb;
}

#sidebar-nav .user-block {
  padding: 3px;
  margin-left: 10px;
}

#sidebar-nav .user-block ul {
  margin-top: 5px;
  list-style: none;
}

#sidebar-nav .user-block ul li {
  padding: 0;
  display: inline;
}

#sidebar-nav .user-block ul li a {
  font-size: 12px;
  transition: all 0.2s ease;
}

#sidebar-nav .user-block ul li a:hover,
#sidebar-nav .user-block ul li a:focus {
  text-decoration: none;
  transition: all 0.2s ease;
}

hr {
	height: 2px;
	border: 0;
	background: -moz-linear-gradient(left, rgba(249, 249, 249, 0.25) 0,
		#f9f9f9 50%, rgba(249, 249, 249, 0.25) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(249,
		249, 249, 0.25)), color-stop(50%, #f9f9f9),
		color-stop(100%, rgba(249, 249, 249, 0.25)));
	background: -webkit-linear-gradient(left, rgba(249, 249, 249, 0.25) 0,
		#f9f9f9 50%, rgba(249, 249, 249, 0.25) 100%);
	background: -o-linear-gradient(left, rgba(249, 249, 249, 0.25) 0,
		#f9f9f9 50%, rgba(249, 249, 249, 0.25) 100%);
	background: -ms-linear-gradient(left, rgba(249, 249, 249, 0.25) 0,
		#f9f9f9 50%, rgba(249, 249, 249, 0.25) 100%);
	background: linear-gradient(to right, rgba(249, 249, 249, 0.25) 0,
		#f9f9f9 50%, rgba(249, 249, 249, 0.25) 100%)
}

.widget {
	margin: 20px 0
}

.widget h2 {
	padding: 10px 10px 0 10px;
	font-size: 18px !important;
	line-height: 18px !important;
	margin-bottom: -5px;
	text-shadow: 0 1px 0 #fff
}

.widget h2 .glyphicons:before {
	margin-top: -12px;
	font-size: 20px !important;
	line-height: 20px !important;
	color: #3b3b41
}
