<div class="span6 widget">
	<h2>
		<i class="glyphicons icon-info-sign"></i> Informações da Conta
	</h2>
	<hr>
	<div class="content">
		<div id="conta"></div>
	</div>
</div>
</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 widget">
			<h2>
				<i class="glyphicons icon-terminal"></i> Informações da Transação
			</h2>
			<hr>
			<div class="content">
				<div id="terminal"></div>
			</div>
		</div>
	</div>
</div>

<div class="teste">
	<div class="container">
		<div class="shortcuts">
			<a href="area.do" class="shortcut"><i class="shortcut-icon icon-home"></i> 
				<span class="shortcut-label">Minha Área</span>
			</a>
			
			<a href="cambio.do" class="shortcut"><i class="shortcut-icon icon-exchange"></i> 
				<span class="shortcut-label">Câmbio</span>
			</a>
			<a href="saque.do" class="shortcut"><i class="shortcut-icon icon-money"></i> 
				<span class="shortcut-label">Saque</span>
			</a>
			<a href="saldo.do" class="shortcut"><i class="shortcut-icon icon-trophy"></i> 
				<span class="shortcut-label">Saldo</span>
			</a>
			<a href="deposito.do" class="shortcut"><i class="shortcut-icon icon-refresh"></i> 
				<span class="shortcut-label">Depósito</span>
			</a>
			<a href="transferencia.do" class="shortcut"><i class="shortcut-icon icon-random"></i> 
				<span class="shortcut-label">Transferência</span>
			</a>
			<a href="#" class="shortcut"><i class="shortcut-icon icon-gift"></i> 
				<span class="shortcut-label">Empréstimo</span>
			</a>
			<a href="extrato.do	" class="shortcut"><i class="shortcut-icon icon-eye-open"></i> 
				<span class="shortcut-label">Extrato</span>
			</a>
		</div>
	</div>
</div>

<script src="js/transaction.js"></script>